<div class="container-fluid p-0">
  <div class="row">
    <div class="col-4">
      <h4 class="page-title">Form</h4>
      <input
        type="text"
        class="form-control"
        placeholder="Search"
        (keyup)="updateFilter($event)">
      <ngx-datatable
        class='table table-hover'
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="'auto'"
        [loadingIndicator]="true"
        [rows]="filteredData"
        (select)="onSelect($event)"
        [selectionType]="'single'"
        [limit]="20">
        <ngx-datatable-column
          [name]="'Name'"
          [prop]="'Name'"
          cellClass="d-flex align-items-center">
          <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
            {{value}} <span *ngIf="row.Id === _workFlowInstance.FormId" style="color: #ea2c54;">(SELECTED)</span>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
    <div class="col-8 pl-0">
      <h4 class="page-title">Preview Form</h4>
      <div class="fake-workspace-wrapper mt-0">
        <div class="fake-workspace-header">Form: {{ selecting?.Name  }}</div>
          <div class="fake-workspace">
            <div class="container-fluid">
              <div class="row">
                <div class="col pt-3 pb-4">
                  <ng-template #dynamicForm>
                    <button
                      class="btn btn-primary mb-3"
                      (click)="setInstanceForm(selecting.Id)">
                      <span>Set this form for instance</span>
                    </button>
                    <app-dynamic-form
                      [fields]="formGroups">
                    </app-dynamic-form>
                  </ng-template>
                  <ng-container *ngIf="formGroups; then dynamicForm"></ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>