<!-- <button *ngIf="roleSelected" class="btn btn-danger ml-2" (click)="useDelete()">
    <span>Xóa</span>
  </button> -->
<div class="input-group">
    <div class="input-group-prepend">
        <app-role-create (useChange)="useLoadData()"></app-role-create>
        <app-role-update (useChange)="useLoadData()" [roleSelected]="roleSelected"></app-role-update>
    </div>
    <input class="form-control search" [(ngModel)]="roleName" (input)="useFilter()" placeholder="Nhập tên quyền tìm kiếm">
</div>
<ngx-datatable id="table" (select)="useSelect($event)" [selected]="selected" class='table table-hover' [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [loadingIndicator]="true" [rows]="searchRoles" [selectionType]="'single'"
    [messages]="{emptyMessage: 'Không có dữ liệu để hiển thị',totalMessage: 'tổng cộng',selectedMessage: 'đã chọn'}" [limit]="5">
    <ngx-datatable-column [name]="'STT'" cellClass="d-flex align-items-center">
        <ng-template let-rowIndex="rowIndex" ngx-datatable-cell-template>
            {{(rowIndex + 1)}}.
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column [name]="'Tên quyền'" [prop]="'Name'" cellClass="d-flex align-items-center">
    </ngx-datatable-column>
</ngx-datatable>