#customer-contact-table {
    margin-top: 6px;
    height: calc(100vh - 202px) !important;
}

.toolbar-mini {
    padding-top: 5px;
}

.status-doing {
    color: #28a745;
}

.status-notstated {
    color: #17a2b8;
}

.status-cancel {
    color: #ea2c54;
}