<div class="modal-header">
    <h4 class="modal-title pull-left">Update Role</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
    <div class="card card-transparent">
        <div class="card-body">
            <div class="form-group-attached">
                <div class="form-group form-group-default required">
                    <label>Qui trình</label>
                    <input [(ngModel)]="role.Father" type="text" class="form-control" name="name" required>
                </div>
                <div class="form-group form-group-default required">
                    <label>Tên Nhân Viên</label>
                    <input [(ngModel)]="role.Name" type="text" class="form-control" name="name" required>
                </div>
            </div>
            <br>
            <button class="btn btn-primary btn-cons
          btn-animated from-left fa fa-pencil" (click)="updateRole()">
        <span>Update</span>
      </button>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="modalRef.hide()"></button>
</div>