<div class="form-group d-flex m-0">
  <app-create-template (refresh)="getTemplates(workFlowInstanceId)"></app-create-template>
    <!-- (refresh)="getData()" -->
  <input
    type="text"
    class="form-control search"
    id="search"
    placeholder="Search"
   >
   <!-- (keyup)="updateFilter($event)" -->
</div>
<pg-select
  [PlaceHolder]="'WorkFlow Instance'"
  AllowClear
  ShowSearch
  [ngModel]="workFlowInstanceId"
  (ngModelChange)="onWorkFlowChange($event)">
    <pg-option
      *ngFor="let option of workFlowInstance"
      [Label]="option.Name"
      [Value]="option.Id">
    </pg-option>
</pg-select>
<ngx-datatable
  class='table table-hover'
  [columnMode]="'force'"
  [headerHeight]="50"
  [footerHeight]="50"
  [rowHeight]="'auto'"
  [loadingIndicator]="true"
  [selectionType]="'single'"
  [limit]="20"
  [rows]="templatesVM"
  (select)="onSelect($event)">
  <ngx-datatable-column
    cellClass="d-flex align-items-center">
    <ng-template
      ngx-datatable-header-template>
      Name
    </ng-template>
    <ng-template
      ngx-datatable-cell-template
      let-row="row">
      {{ row.Name }}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column 
    [sortable]="false"
    [cellClass]="'text-right'"
    [width]="20">
    <ng-template
      ngx-datatable-cell-template
      let-row="row">
      <i class="pg pg-more" (click)="openUpdateModal(row)"></i>
      <i class="pg pg-close_line" [swal]="deleteSwal"></i>
      <swal 
        #deleteSwal
        title="Delete this form?"
        text="This action cannot be undone"
        type="warning"
        [showCancelButton]="true"
        [focusCancel]="true"
        (confirm)="deleteTemplate(row)"
        >
      </swal>
      <swal 
        #deleteErrorSwal
        title="Cannot delete this form"
        type="error">
      </swal>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>