<button class="btn btn-primary mr-2" (click)="useOpenModal(template)">
  <span>Thêm</span>
</button>

<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Thêm mới nhân viên</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
        <div class="card card-transparent">
            <div class="card-body" [formGroup]="form">
                <div class="d-flex">
                    <div class="form-group form-group-default required col" [class.has-error]="(form.controls['UserName'].dirty || form.controls['UserName'].touched) && form.controls['UserName'].invalid">
                        <label>Tài khoản nhân viên</label>
                        <input formControlName="UserName" type="text" class="form-control" name="name" required>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="form-group form-group-default required col" [class.has-error]="(form.controls['FirstName'].dirty || form.controls['FirstName'].touched) && form.controls['FirstName'].invalid">
                        <label>Họ</label>
                        <input formControlName="FirstName" type="text" class="form-control" name="name" required>
                    </div>
                    <div class="form-group form-group-default required col" [class.has-error]="(form.controls['LastName'].dirty || form.controls['LastName'].touched) && form.controls['LastName'].invalid">
                        <label>Tên</label>
                        <input formControlName="LastName" type="text" class="form-control" name="name" required>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="form-group form-group-default required col" [class.has-error]="(form.controls['Password'].dirty || form.controls['Password'].touched) && form.controls['Password'].invalid">
                        <label>Mật khẩu (Tối thiểu 6 ký tự)</label>
                        <input formControlName="Password" type="password" class="form-control" name="name" required>
                    </div>

                </div>
                <div class="d-flex">
                    <div class="form-group form-group-default required col" [class.has-error]="(form.controls['ConfirmPassword'].dirty || form.controls['ConfirmPassword'].touched) && form.controls['ConfirmPassword'].invalid">
                        <label>Nhập lại mật khẩu</label>
                        <input formControlName="ConfirmPassword" type="password" class="form-control" name="name" required>
                    </div>
                </div>
                <br>
                <button [disabled]="!form.valid" (click)="useCreate()" class="btn btn-primary btn-cons
            btn-animated from-left fa fa-plus">
          <span>Tạo</span>
        </button>
            </div>
        </div>
    </div>
</ng-template>