.toolbar-mini {
    padding-top: 5px;
}

.status-doing {
    color: #28a745;
}

.status-cancel {
    color: #ea2c54;
}

.modal-content {
    margin-top: 30vh;
}


 #table .visible datatable-body {
    max-height: 40vh;
}