<div class="fake-workspace-wrapper mt-0">
    <div class="fake-workspace-header">Form:</div>
      <div class="fake-workspace">
        <div class="container-fluid">
          <div class="row">
            <div class="col pt-3 pb-4">
              <!-- <h5 
                class="page-title" 
                *ngIf="form">
                Description: {{ form?.Description }}
              </h5>
              <ng-template #dynamicForm>
                <app-dynamic-form
                  [fields]="_formGroups">
                </app-dynamic-form>
              </ng-template>
              <ng-container *ngIf="_formGroups; then dynamicForm"></ng-container> -->
          </div>
        </div>
      </div>
    </div>
  </div>
    