<button
  class="btn btn-primary btn-cons btn-kudo
    btn-animated from-left fa {{Icons[1]}}"
  title="{{HeaderTitle}}"
  (click)="openModal(template)">
  <span class="fa {{Icons[0]}}"></span>
</button>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{HeaderTitle}}</h4>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="card card-transparent">
      <div class="card-body">
        <div class="form-group d-flex m-0">
          <input
            type="text"
            id="search"
            class="form-control search ml-0 mb-1"
            placeholder="Search"
            [(ngModel)]="searchValue"
            (keyup)="updateFilter()">
        </div>
        <div class="file-list-wrapper p-0">
          <a
            class="kudo-file pr-5"
            href="javascript:void(0)"
            *ngFor="let obj of filteredData">
            <span class="file-info"
              (click)="onFileClickHandler(obj)">
              {{getNameValue(obj)}}
              <span class="date-time">
                {{getDateValue(obj) | date: 'dd/MM/yyyy'}}
                <span class="divider"></span>
                {{getDateValue(obj) | date: 'HH:mm:ss'}}
              </span>
            </span>
            <span
              class="btn-apply d-flex justify-content-center align-items-center"
              *ngIf="isShowApplyButtonValue(obj)"
              (click)="applyButtonHandler(obj)">
              <i class="fa fa-pencil"></i>
            </span>
          </a>
        </div>
        <br>
        <pg-upload
          *ngIf="AllowedUpload"
          [Action]="UploadUrl"
          [ShowUploadList]="false"
          (Change)="changeHandler()">
          <button class="btn btn-primary btn-cons
            btn-animated from-left fa fa-upload">
            <span>Upload</span>
          </button>
        </pg-upload>
      </div>
    </div>
  </div>
</ng-template>