div.wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2000;
}
::ng-deep {
  div.loading-overlay-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.3);
  }
  i.loading-indicator {
    color: rgba(255, 255, 255, 0.8);
  }
}