<div class="fake-workspace-wrapper">
  <div class="fake-workspace-header">&nbsp;</div>
  <div class="fake-workspace">
    <div class="container-fluid " style="padding-bottom: 130px;">
      <div class="row">
        <div class="col pt-3 pb-4">
          <!-- <h4 class="page-title">{{formName}}</h4> -->
          <ng-template #dynamicForm>
            <app-dynamic-form
              [fields]="_formGroups"
              [formData]="formData"
              (changeHandler)="reloadHistoryFiles()">
            </app-dynamic-form>
          </ng-template>
          <ng-container *ngIf="showForm && _formGroups; then dynamicForm"></ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
