<h4 class="page-title">Work Flow Instance</h4>
<div class="form-group d-flex m-0">
  <app-create-work-flow-instance
    (refresh)="getData()"
    [workFlow]="workFlow">
  </app-create-work-flow-instance>
  <input
    type="text"
    id="search"
    class="form-control search"
    placeholder="Search"
    [disabled]="!workFlow"
    (keyup)="updateFilter($event)">
</div>
<ngx-datatable
  class='table table-hover'
  [columnMode]="'force'"
  [headerHeight]="43"
  [footerHeight]="50"
  [rowHeight]="'auto'"
  [loadingIndicator]="true"
  [selectionType]="'single'"
  (select)="onSelect($event)"
  [limit]="20"
  [rows]="filteredData">
  <ngx-datatable-column
    [name]="'Name'"
    [prop]="'Name'"
    cellClass="d-flex align-items-center">
  </ngx-datatable-column>
  <ngx-datatable-column
    [name]="'Type'"
    [prop]="'Type'"
    cellClass="d-flex align-items-center">
  </ngx-datatable-column>
  <ngx-datatable-column
    [name]="'Sub Type'"
    [prop]="'SubType'"
    cellClass="d-flex align-items-center">
  </ngx-datatable-column>
  <ngx-datatable-column [sortable]="false" [cellClass]="'text-right'">
    <ng-template
      ngx-datatable-cell-template
      let-row="row">
      <i class="pg pg-settings fz-11 bt-1" [routerLink]="['/work-flow-config/instance-config/' + row.Id]"></i>
      <i class="pg pg-more" (click)="openUpdateModal(row)"></i>
      <i class="pg pg-close_line" [swal]="deleteSwal"></i>
      <swal 
        #deleteSwal
        title="Delete this instance?"
        text="This action cannot be undone"
        type="warning"
        [showCancelButton]="true"
        [focusCancel]="true"
        (confirm)="deleteWorkFlowInstance(row)"
        [allowOutsideClick]="false">
      </swal>
      <swal 
        #deleteErrorSwal
        title="Cannot delete this instance"
        type="error"
        [allowOutsideClick]="false">
      </swal>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>